<?xml version="1.0" encoding="UTF-8"?>
<suite name="Test suite" parallel="tests">
<parameter name="browser" value="firefox"></parameter>
	<test enabled="true" name="Run in IE"> 
		<parameter name="baseUrl" value="http://www2.arcaneo.com/Metron"></parameter>
		<parameter name="Username" value="nitesh.xy@gmail.com"></parameter>
		<parameter name="Password" value="23253374414"></parameter>
		<parameter name="browser" value="firefox"></parameter>
		<parameter name="emailID" value="autochetu@gmail.com"></parameter>
		<parameter name="emailPass" value="shift4@123"></parameter>
		<parameter name="excelReportPath" value="D:\\CendynHT-QA_Automation_Scripts\\ExpectedResult\\Result.xls"></parameter>
		   <classes>
		   	
	       <class name="testCases.TestCases"/>
	       
	       </classes>
	       
	       	 </test>
</suite>